<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ngcsmodel -->
      <package
            uri="http://home.ludo.com/ngcsmodel"
            class="com.home.ludo.ngcs.ngcsmodel.NgcsmodelPackage"
            genModel="model/ngcsmodel.genmodel"/>
   </extension>

</plugin>
